<launch>
  <arg name="use_sim" default="true" />

  <node name="active_perception" pkg="robot_manipulation" type="active_perception_service" output="screen">
    <remap from="/point_cloud" to="/camera1/depth/color/points" />
    <remap from="/debug_cloud" to="/active_perception/debug_cloud" />
    <!-- Parameters for cropping -->
    <param name="crop_min_x" type="double" value="0.0" />
    <param name="crop_min_y" type="double" value="-0.17" />
    <param name="crop_min_z" type="double" value="0.0" />
    <param name="crop_max_x" type="double" value="0.5" />
    <param name="crop_max_y" type="double" value="0.19" />
    <param name="crop_max_z" type="double" value="0.15" />
    <!-- Parameter for downsampling -->
    <param name="voxel_size" type="double" value="0.003" />
    <!-- Parameter for target frame -->
    <param name="base_link_frame" type="str" value="wx250s/base_link" />
  </node>

  <!-- Launch the base functionality -->
  <include file="$(find robot_manipulation)/launch/base.launch">
    <arg name="use_rviz" value="true" />
    <arg name="use_sim" value="$(arg use_sim)" />
    <arg name="dual_camera" value="true" />
  </include>
</launch>
