<launch>
  <arg name="robot_model"                       default="wx250s"/>
  <arg name="robot_name"                        default="$(arg robot_model)"/>
  <arg name="base_link_frame"                   default="base_link"/>
  <arg name="external_urdf_loc"                 default=""/>
  <arg name="use_rviz"                          default="true"/>

  <arg name="filters"                           default="temporal,pointcloud"/>
  <arg name="color_fps"                         default="30"/>
  <arg name="color_width"                       default="640"/>
  <arg name="color_height"                      default="480"/>
  <arg name="depth_fps"                         default="30"/>
  <arg name="depth_width"                       default="640"/>
  <arg name="depth_height"                      default="480"/>
  <arg name="dual_camera"                       default="false" />
  <arg name="cam1_name"                         default="camera" />
  <arg name="cam2_name"                         default="camera1" />

  <arg name="rviz_frame"                        default="$(arg robot_name)/$(arg base_link_frame)"/>
  <arg name="rvizconfig"                        default="$(find robot_manipulation)/rviz/config.rviz" />

  <arg name="use_sim"                           default="true" />


  <include file="$(find interbotix_xsarm_moveit)/launch/xsarm_moveit.launch">
    <arg name="robot_model"                       value="$(arg robot_model)"/>
    <arg name="robot_name"                        value="$(arg robot_name)"/>
    <arg name="base_link_frame"                   value="$(arg base_link_frame)"/>
    <arg name="show_ar_tag"                       value="true"/>
    <arg name="use_world_frame"                   value="false"/>
    <arg name="mode_configs"                      value="$(find interbotix_xsarm_moveit_interface)/config/modes.yaml"/>
    <arg name="use_moveit_rviz"                   value="false"/>
    <arg name="dof"                               value="6"/>
    <arg name="use_fake"                          value="$(arg use_sim)"/>
    <arg name="use_actual"                        unless="$(arg use_sim)" value="true"/>
  </include>

  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="camera"                            value="$(arg cam1_name)" />
    <arg name="filters"                           value="$(arg filters)"/>
    <arg name="color_fps"                         value="$(arg color_fps)"/>
    <arg name="color_width"                       value="$(arg color_width)"/>
    <arg name="color_height"                      value="$(arg color_height)"/>
    <arg name="depth_fps"                         value="$(arg depth_fps)"/>
    <arg name="depth_width"                       value="$(arg depth_width)"/>
    <arg name="depth_height"                      value="$(arg depth_height)"/>
    <arg name="serial_no"                         value="834412070801" />
    <arg name="align_depth"                       value="true" />
  </include>
  
  <include file="$(find realsense2_camera)/launch/rs_camera.launch" if="$(arg dual_camera)">
    <arg name="camera"                            value="$(arg cam2_name)" />
    <arg name="filters"                           value="$(arg filters)"/>
    <arg name="color_fps"                         value="$(arg color_fps)"/>
    <arg name="color_width"                       value="$(arg color_width)"/>
    <arg name="color_height"                      value="$(arg color_height)"/>
    <arg name="depth_fps"                         value="$(arg depth_fps)"/>
    <arg name="depth_width"                       value="$(arg depth_width)"/>
    <arg name="depth_height"                      value="$(arg depth_height)"/>
    <arg name="serial_no"                         value="215222076164" />
    <arg name="align_depth"                       value="true" />
    <arg name="initial_reset"                     value="true" />
  </include>

  <node pkg="tf2_ros" type="static_transform_publisher" name="$(arg cam1_name)_base_link_broadcaster" args="0.330 0.015 0.680 -0.785 1.571 2.330 wx250s/base_link $(arg cam1_name)_link" />
  <!-- <node if="$(arg dual_camera)" pkg="tf2_ros" type="static_transform_publisher" name="$(arg cam2_name)_base_link_broadcaster" args="0.210 0.440 0.457 0.281 0.216 -0.734 0.580 wx250s/base_link $(arg cam2_name)_link" launch-prefix="bash -c 'sleep 5; $0 $@'" /> -->
  <node if="$(arg dual_camera)" pkg="tf2_ros" type="static_transform_publisher" name="$(arg cam2_name)_base_link_broadcaster" args="0.0180 0.0175 0.0070 0 0 0 1 wx250s/ar_tag_link $(arg cam2_name)_link" />

  <node if="$(arg use_rviz)"
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-f $(arg rviz_frame) -d $(arg rvizconfig)"
    ns="$(arg robot_name)"/>
</launch>
