<launch>
  <arg name="robot_model"                       default="wx250s"/>

  <arg name="filters"                           default="pointcloud"/>
  <arg name="color_fps"                         default="30"/>
  <arg name="color_width"                       default="640"/>
  <arg name="color_height"                      default="480"/>
  <arg name="depth_fps"                         default="30"/>
  <arg name="depth_width"                       default="640"/>
  <arg name="depth_height"                      default="480"/>
  <arg name="dual_camera"                       default="false" />
  <arg name="cam1_name"                         default="camera" />

  <arg name="use_rviz"                          default="true" />
  <arg name="use_sim"                           default="false" />

  <include file="$(find interbotix_xsarm_control)/launch/xsarm_control.launch">
    <arg name="robot_model"                       value="$(arg robot_model)"/>
    <arg name="show_ar_tag"                       value="true"/>
    <arg name="use_rviz"                          value="$(arg use_rviz)"/>
    <arg name="use_sim"                           value="$(arg use_sim)" />
  </include>

  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="camera"                            value="$(arg cam1_name)" />
    <arg name="filters"                           value="$(arg filters)"/>
    <arg name="color_fps"                         value="$(arg color_fps)"/>
    <arg name="color_width"                       value="$(arg color_width)"/>
    <arg name="color_height"                      value="$(arg color_height)"/>
    <arg name="depth_fps"                         value="$(arg depth_fps)"/>
    <arg name="depth_width"                       value="$(arg depth_width)"/>
    <arg name="depth_height"                      value="$(arg depth_height)"/>
    <arg name="align_depth"                       value="true" />
    <arg name="serial_no"                         value="834412070801" />
  </include>

  <node pkg="tf2_ros" type="static_transform_publisher" name="$(arg cam1_name)_base_link_broadcaster" args="0.300 0.000 0.680 -0.785 1.571 2.330 wx250s/base_link $(arg cam1_name)_link" />
</launch>
